# --- Core ---
dash==2.18.1
dash-bootstrap-components
plotly
pandas
geopandas
numpy
unidecode

# --- Utils y gráficos ---
matplotlib
seaborn

# --- Servidor ---
gunicorn

# --- Build essentials (para evitar errores de setuptools.build_meta) ---
setuptools>=70.0.0
wheel
pip>=23.1
build




